#contentBox{
    box-sizing: content-box;
    border: 10px solid black;
    min-height: 40px;
    min-width: 60px;
    padding: 5px;
    margin: 20px;
}
#contentBox1{
    box-sizing: content-box;
    border: 2px solid black;
    min-height: 40px;
    min-width: 60px;
    /* padding: 5px; */
    margin: 20px;
}
#borderBox{
    box-sizing: border-box;
    border: 10px solid black;
    min-height: 40px;
    min-width: 60px; 
    padding: 5px;   
}