@media (orientation: landscape) and (min-width:1280px){
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 20px 140px 140px 95px 100px;
    }
    #mobile-top{
        display: flex;
        background: lightcyan; 
        align-items: center;   
        justify-content: space-around;                 
    }
    #title{
        background-color: antiquewhite;
        height: 20px;
        border: 1px solid black;
        width: 1000px;
    }
    #circles{
        display: flex;        
        gap: 80px;        
    }
    #circles span{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: antiquewhite;
        border: 1px black solid;
    }
    #item1,#mobile-top,#item2,#item7{
        grid-column: 1/-1;
    }
    #item1{
        background-color: rgb(14, 75, 189);
    }
    #item2{
        background-color: rgb(113, 150, 237);
    }
    #item3{
        background-color: rgb(222, 222, 136);
    }
    #item4{
        background-color: rgb(227, 154, 227);
    }
    #item5{
        background-color: rgb(174, 90, 90);
    }
    #item6{
        background-color: rgb(185, 225, 241);
    }
    #item7{
        background-color: lightgray;
    }
    .mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}