<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Document</title>
    <link rel="stylesheet" href="grid3.css">
    <link rel="stylesheet" href="grid3-1.css">
    <link rel="stylesheet" href="grid3-2.css">
</head>
<body>
    <div id="container">
        <div id="mobile-top">
            <div id="title">Example HTML</div>
            <div id="circles">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="mobile" id="item1"></div>
        <div class="mobile" id="item2">Header</div>
        <div class="mobile" id="item3">Content</div>
        <div class="mobile" id="item4">SignUp</div>
        <div class="mobile" id="item5">Feature</div>
        <div class="mobile" id="item6">Feature</div>
        <div class="mobile" id="item7">Feature</div>
    </div>
</body>
</html>