body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 300px;
}
input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.message{
    margin-top: 10px;
    font-weight: bold;
}
.available{
    color: green;
}
.taken{
    color: red;
}
.loading{
    color: blue;
}
.error{
    color: red;
    text-decoration: underline;
}