<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Layout4.css">
</head>
<body>
    <div class="container">
        <div class="section" id="i1">ShopEasy</div>
        <div class="section" id="i2"><div>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </div></div>
        <div class="section" id="i3">Welcome to ShopEasy </div>
        <div class="section" id="i4">Happy Shopping</div>
        <div class="section" id="i5">
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">X</a>
        </div>
    </div>
</body>
</html>