<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Layout2.css">
</head>
<body>
    <div class="container">
        <div class="section" id="item1">
            <div>Logo</div>
            <div>Navigation</div>
        </div>        
        <div class="section" id="item2">Head</div>
        <div class="section" id="item3">Intoduction</div>
        <div class="box" id="item4-a">
            <div class="section" id="item4">Box1</div>
            <div class="section" id="item5">Box2</div>
            <div class="section" id="item6">Box3</div>
        </div>
        <div class="section" id="item7">Footer</div>
    </div>
</body>
</html>