body{
    font-family: cursive;
    color:darkred;
}
#super-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
#container-1,#container-2,#container-3{
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 40px 40px 50px 150px; 
    gap: 7px;  
}
#container-1,#container-2,#container-3,#container-4{
    background-color:gray;      
}
.section1,.section2,.section3{
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightgray;  
    display: flex;  
    justify-content: center;
    align-items: center;
}
#item1-1,#item1-2,#item1-3,#item1-6,#item2-1,#item2-2,#item2-3,#item2-7,#item3-1,#item3-5,#item4-1,#item4-2,#item4-4{
    grid-column: 1/-1;      
}
#item1-4{
    grid-column: 1/2;
}
#item1-5{
    grid-column: 2/-1;
}
#item2-1,#item4-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;    
}
#item3-2{
    grid-row: 2/-1;
}
#item3-3{
    grid-column: 2/-1;
    grid-row: 2/4;
}
#item3-4{
    grid-column: 2/-1
}
#container-1,#container-2,#container-3,#container-4,#item4-2,#item4-3{
    display: grid;
}
#item4-1{
    height: 35px;
}
#item4-2{
    grid-template-columns: repeat(4,1fr); /*1fr 1fr 1fr 1fr*/
    gap: 8px;
    margin-top: 5px;
}
.sBox{
    height: 27px;    
}
#item4-3{
    grid-template-columns: repeat(3,1fr); /*1fr 1fr 1fr*/
    height: 97px;
    margin-top: 5px;
    gap: 10px;
}
#item4-3 div,#item4-4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4,#item4-3 div,.sBox{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
}