#grid-Container{
    background-color: lightgreen;
    width: 500px;         
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;    
}
.section1{
    border: 2px solid black;
    margin: 10px;
    background-color: gray;    
}
#box1{
    grid-column: 1/4;  
}
#box2{
    grid-column: 1/2;  
}
#box3{
    grid-column: 2/4;
}
#box4{
    grid-column: 1/4;
    height: 100px;
}
#box5{
    grid-column: 1/4;
}