<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grid Layout</title>
    <link rel="stylesheet" href="grid2.css">
</head>
<body>
    <div id="super-container">

        <div id="container-1">
            <div class="section1" id="item1-1">Logo</div>
            <div class="section1" id="item1-2">Navigation</div>
            <div class="section1" id="item1-3">Header/Banner</div>
            <div class="section1" id="item1-4">SideBar</div>
            <div class="section1" id="item1-5">Body Area</div>
            <div class="section1" id="item1-6">Footer</div>
        </div>
        
        <div id="container-2">
            <div  class="section2" id="item2-1">
            <div>Logo</div>
            <div>Navigation</div>
            </div>
            <div class="section2" id="item2-2">Header/Banner</div>
            <div class="section2" id="item2-3">Intro Text Area</div>
            <div class="section2" id="item2-4">Box1</div>
            <div class="section2" id="item2-5">Box2</div>
            <div class="section2" id="item2-6">Box3</div>
            <div class="section2" id="item2-7">Footer</div>
        </div>

        <div id="container-3">
            <div class="section3" id="item3-1">Logo</div>
            <div class="section3" id="item3-2">SideBar Navigation</div>
            <div class="section3" id="item3-3">Header/Banner</div>
            <div class="section3" id="item3-4">BodyArea</div>
            <div class="section3" id="item3-5">Footer</div>        
        </div>

        <div id="container-4">
            <div class="section4" id="item4-1">
                <div>Logo</div>
                <div>Navigation</div>
            </div>
            <div id="item4-2">                
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>                
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
                <div class="sBox"></div>
            </div>
            <div id="item4-3">
            <div>Box1</div>
            <div>Box2</div>
            <div>Box3</div>
            </div>
            <div class="section4" id="item4-4">Footer</div>

            

    </div>
</body>
</html>