.flex{
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: 5px;
    min-height:50px;    
}
#div1{
    background-color: gray;
    justify-content: space-between;   
    align-items: center;
    padding-right: 60px;   
    padding-left: 20px; 
}
#div2,#div3{    
    background-color: gray;    
}
#div4{
    justify-content: space-between;         
}
.box{
    background-color: gray;
    width: 30%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
footer{
    background-color: gray;
}