.flex{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 5px;   
    min-height: 50px;
}
#div1{
    justify-content: left;
}
nav,#div3,#div1{
    background-color: gray;
    padding-left: 20px;   
}
#div4{    
    justify-content: space-between;
}
.box,.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29%;
    background-color: gray;
    min-height: 350px;
}
.box2{    
    width: 69%;
}
footer{
    background-color: gray;
}