.flex1{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 3px;   
    min-height: 20px;
}
#div1{
    justify-content: left;
    margin-top: 3px;
}
nav,#div3,#div1{
    background-color: gray;
    padding-left: 10px;   
}
#div4{    
    justify-content: space-between;
}
.box1,.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29%;
    background-color: gray;
    min-height: 150px;
}
.box2{    
    width: 69%;
}
footer{
    background-color: gray;
}