/* #contentBox{
    box-sizing: content-box;
    border: 2px solid black;
    min-height: 40px;
    min-width: 60px; 
    padding: 10px;
}
/* #contentBox1{
    box-sizing: content-box;
    border: 2px solid black;
    min-height: 40px;
    min-width: 60px;
    margin: 20px;
} 
#borderBox{
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 40px;
    min-width: 60px;  
    padding: 10px;   
} */
 #contentBox {
  box-sizing: content-box;
  width: 100px;
  height: 40px;
  padding: 5px;
  border: 10px solid black;
}

#borderBox {
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  padding: 5px;
  border: 10px solid black;
}