.flex2{
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: 3px;
    min-height:20px;        
}
#div1-1{
    background-color: gray;
    justify-content: space-between;   
    align-items: center;
    padding-right: 60px;   
    padding-left: 20px; 
}
#div2-1,#div3-1{    
    background-color: gray;    
}
#div4-1{
    justify-content: space-between;         
}
.box-1{
    background-color: gray;
    width: 30%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
footer{
    background-color: gray;
}