body{
    box-sizing: border-box;
}
.container{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    height: 573px;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;              
}